name: .NET Core
on:
  push:
    branches:
      - dev

env:
  RG_NAME: demoaspnet5aks-rg
  LOCATION: westeurope
  RG_NAME_TEST: Test-Template-rg

jobs:
  Build-Infra:    
    runs-on: ubuntu-20.04
    steps:

      - name: Recuperation du repo
        uses: actions/checkout@v2

      - name: Run de Becep
        uses: aliencube/bicep-build-actions@v0.1
        with:
          files: Bicep/main.bicep

      - name: Publish ARM template artifact
        uses: actions/upload-artifact@v1
        with:
          name: arm_template
          path: ./Bicep/main.json

    Test-Template-ARM:
      runs-on: ubuntu-20.04
      needs: Build-Infra
      steps:

      - name: Azure Login
        uses: Azure/login@v1
        with:    
          creds: ${{ secrets.AZURE_CREDENTIALS }}         

